{% extends "layout.html" %}
{% block title %}
    Add New Department
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New Department
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}