{% extends "layout.html" %}
{% block title %}
    Spare Parts List
{% endblock %}
{% block content %}
    <div style="margin-bottom: 10px" class="clearfix">
        <button id="addItem" class="btn btn-primary">Add Item</button>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Purchase Order
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Select</th>
                <th style="width: 15%">Quantity</th>
                <th>Operate</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr>
                <td>
                    <input list="select" name="obj" class="form-control"/>
                    <datalist id="select">
                        {% for obj in queryset %}
                            <option value={{ obj }}>
                        {% endfor %}
                    </datalist>
                </td>
                <td>
                    <input name="quantity" class="form-control" min="1" value=1 style="width: 100%"/>

                </td>
                <td>
                    <btn class="deleteBtn btn btn-danger">Delete</btn>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div style="margin-bottom: 10px" class="clearfix">
        <button id="btn1" class="btn btn-success">Submit</button>

    </div>



{% endblock %}
{% block js %}
    <script type="text/javascript">
        let itemRow;
        $(function () {
            // Store the first row as a template
            itemRow = $("tbody tr").first();

            // Bind click event to "Add Row" button
            addItemEvent()

            // Delegate click event for dynamically created delete buttons
            deleteItemEvent()
            /*
            $(document).on("click", ".deleteBtn", function () {
                $(this).closest("tr").remove(); // Remove the clicked row
            });

             */
        })

        function addItemEvent() {
            $("#addItem").click(function () {
                const newRow = itemRow.clone(); // Clone the template row
                $("#tableBody").append(newRow); // Append the new row to the tbody
            });
        }

        function deleteItemEvent() {
            $(".deleteBtn").click(function () {
                $(this).closest("tr").remove(); // Remove the clicked row
            })

        }

        /*
                $(document).ready(function () {
                    // Store the first row as a template
                    itemRow = $("tbody tr").first();
                    console.log("Template row:", itemRow);

                    // Bind click event to "Add Row" button
                    $("#addItem").click(function () {
                        const newRow = itemRow.clone(); // Clone the template row
                        $("#tableBody").append(newRow); // Append the new row to the tbody
                    });

                    // Delegate click event for dynamically created delete buttons
                    $(document).on("click", ".deleteBtn", function () {
                        $(this).closest("tr").remove(); // Remove the clicked row
                    });
                });
                */



        /*

        $(function () {
            bindDeleteBtnEvent()
            bindAddItemEvent()
        })
        ;


        function bindDeleteBtnEvent(button) {
            const row = button.closest("tr");
            if (row) {
                row.remove();
            }
        }


        function bindAddItemEvent() {

            $("addItem").click(
                function () {
                    const newRow = itemRow.clone();
                    $("#tableBody").append(newRow);
                }
            )
        }

        function bindBtn1Event() {
            $("#btn1").click(
                function () {
                    $.ajax({
                        url: '/test/ajax/',
                        type: 'post',
                        data: {
                            n1: 132,
                            n2: 132
                        },
                        dataType: "JSON",
                        success: function (res) {
                            console.log(res)

                        }
                    })
                })
        }

*/
    </script>
{% endblock %}