{% extends "layout.html" %}
{% block title %}
    Spare Parts {{ trade_way }}
{% endblock %}
{% block content %}
    <div style="margin-bottom: 10px" class="clearfix">
        <button id="addItem" class="btn btn-primary">Add Item</button>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ trade_way }} Order
        </div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 55%">Select</th>
                <th>Other</th>

                <th style="width: 10%">Quantity</th>
                <th style="width: 5%">Operate</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr>
                <td>
                    <input list="select" name="obj" class="form-control"/>
                    <datalist id="select">
                        {% for obj in queryset %}
                            <option value={{ obj }}>
                        {% endfor %}
                    </datalist>
                </td>
                <td>
                    <input name="other" required class="form-control" placeholder="Can be empty"/>

                </td>
                <td>
                    <input type=number name="quantity" required class="form-control" min=0 value=0
                           style="width: 100%"/>


                </td>
                <td>
                    <btn class="deleteBtn btn btn-danger">Delete</btn>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div id="errorMessages" style="color: red;"></div>
    <div style="margin-bottom: 10px" class="clearfix">
        <button id="submit" class="btn btn-success">Submit</button>

    </div>



{% endblock %}
{% block js %}
    <script type="text/javascript">
        let itemRow;
        $(function () {
            // Store the first row as a template
            itemRow = $("tbody tr").first();

            // Bind click event to "Add Row" button
            addItemEvent()

            // Delegate click event for dynamically created delete buttons
            deleteItemEvent()

            submitEvent()

        })

        function addItemEvent() {
            $("#addItem").click(function () {
                const newRow = itemRow.clone(); // Clone the template row

                // Clear the input values in the cloned row
                newRow.find('input').each(function () {
                    $(this).val(''); // Clear the value
                });

                // Optionally set the quantity input to 1 as a default
                newRow.find('input[name="quantity"]').val(0);

                $("#tableBody").append(newRow); // Append the new row to the tbody
            });
        }

        function deleteItemEvent() {
            /*
            this can only delete the old item row when the page first load
            $(".deleteBtn").click(function () {
                $(this).closest("tr").remove(); // Remove the clicked row
            })
             */
            {# dynamic delete new item row added #}
            $(document).on("click", ".deleteBtn", function () {
                $(this).closest("tr").remove(); // Remove the clicked row
            });
        };

        function submitEvent() {
            $("#submit").click(function () {
                // Create an array to store all row data
                $('#errorMessages').empty();
                let hasError = false;
                var tableData = [];
                var objData = []
                var errmsgSet = new Set();
                // Loop through each row in the tbody
                $("#tableBody tr").each(function () {
                    var rowData = {};

                    // Get the value of the 'obj' input (select input)
                    rowData.obj = $(this).find('input[name="obj"]').val();

                    // Get the value of the 'quantity' input
                    rowData.quantity = $(this).find('input[name="quantity"]').val();

                    // Get the value of the 'quantity' input
                    rowData.other = $(this).find('input[name="other"]').val();


                    if (!rowData.obj.trim()) {
                        hasError = true;
                        errmsgSet.add('<p>Object field cannot be empty.</p>');
                    }

                    if (!rowData.quantity.trim() || rowData.quantity <= 0) {
                        hasError = true;
                        errmsgSet.add('<p>Quantity must be greater than 0.</p>');
                    }

                    if (!Number.isInteger(Number(rowData.quantity))) {
                        hasError = true;
                        errmsgSet.add('<p>Quantity must be Integer.</p>');
                    }

                    tableData.push(rowData); // Add the row data to the array


                    {#const myList = ["sdfsd", "dsf"];#}
                    const valueToCheck = rowData.obj;

                    // Check if the value exists in the array
                    if (objData.includes(valueToCheck)) {
                        hasError = true;
                        errmsgSet.add('<p>Duplicate item in the table, please double check!</p>');
                    }
                    objData.push(rowData.obj)// Add the obj in the list to check repeat

                });

                const errorMessages = [...errmsgSet].join("");
                $('#errorMessages').html(errorMessages);


                if (hasError) {
                    return;
                }


                // Send the data to the backend using an AJAX request
                $.ajax({
                    {# sent to current page, no need to define #}
                    {#url: '/sale/', // Change this to your backend URL#}
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(tableData),
                    success: function (response) {
                        if (response.status) {
                            if (confirm("Operation successful! Click OK to add new order.")) {
                                location.reload(); // Refresh the page
                            }
                        } else {
                            errMsg = response.err_msg;
                            errmsgSet.add('<p>' + errMsg + '</p>');
                            const errorMessages = [...errmsgSet].join("");
                            $('#errorMessages').html(errorMessages);
                        }

                    },
                    error: function (xhr, status, error) {
                    }
                });
            })

        }

    </script>
{% endblock %}